#drum-machine {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#drum-machine-content {
  display: flex;
  flex-direction: row;
  border: 2px solid;
}

#drum-pads-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drum-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#knobs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#display {
  border: solid;
  width: 100px;
  height: 50px;
  background-color: grey;
}

.slider {
  opacity: 0.7;
}

.slider:hover {
  opacity: 1;
}