#drum-machine {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#drum-machine-content {
  display: flex;
  flex-direction: row;
  border: 5px solid;
  border-color: rgb(255, 165, 0);
  padding: 30px;
  background-color: #B3B3B3;
}

#drum-pads-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.drum-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#knobs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background-color: grey;
  text-align: center;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  background: rgb(60, 60, 60);
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgb(60, 60, 60);
  width: 200px;
  height: 3px;
  cursor: pointer;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 8px;
  background: blue; /* Green background */
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  border-radius: 1px;
}
