.drum-pad {
    background-color: grey;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 3px 3px 5px;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}