.on-off-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.on-off {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.blue {
    background-color: blue; 
}

.button {
    width: 20px;
    height: 18px; 
    margin: 3px;
}
